# Data Cleaning

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.formula.api as smf
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
crash = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv", na_values = ["Unspecified"])
pd.set_option('display.max_columns', None)
crash.head()

/usr/local/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/06/2020,6:56,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,04/28/2020,17:35,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,03/18/2020,14:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,05/07/2020,22:14,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,03/06/2020,17:16,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [3]:
new_columns = ["date","time","borough","zipcode", "latitude", "longitude", "location", "on_street", "cross_street", "off_street", "num_persons_injured", "num_persons_killed", "num_ped_injured", "num_ped_killed", "num_cyc_injured", "num_cyc_killed", "num_mot_injured", "num_mot_killed", "con_vehicle_1", "con_vehicle_2", "con_vehicle_3", "con_vehicle_4", "con_vehicle_5", "collision_id", "vehicle_type_1", "vehicle_type_2", "vehicle_type_3", "vehicle_type_4", "vehicle_type_5"]
crash.columns = new_columns

In [4]:
crash.head()

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,03/06/2020,6:56,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,04/28/2020,17:35,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,03/18/2020,14:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,05/07/2020,22:14,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,03/06/2020,17:16,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [5]:
crash["collision_id"] = crash["collision_id"].astype(object)

In [6]:
len(crash)

1759301

In [7]:
crash.describe()

,latitude,longitude,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed
count,1.550757e+06,1.550757e+06,1.759283e+06,1.759270e+06,1.759301e+06,1.759301e+06,1.759301e+06,1.759301e+06,1.759301e+06,1.759301e+06
mean,4.069055e+01,-7.386784e+01,2.726406e-01,1.255634e-03,5.146533e-02,6.604896e-04,2.280679e-02,9.549247e-05,1.982037e-01,4.984934e-04
std,1.172197e+00,2.375297e+00,6.679087e-01,3.747160e-02,2.333785e-01,2.623879e-02,1.508778e-01,9.829559e-03,6.296716e-01,2.441334e-02
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.066862e+01,-7.397605e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.072218e+01,-7.392844e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.076881e+01,-7.386667e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00

In [8]:
crash.describe(include = "O")

,date,time,borough,zipcode,location,on_street,cross_street,off_street,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
count,1759301,1759301,1219060,1218849.0,1550757,1404929,1141270,262004,1124083,240529,8180,1451,385,1759301,1750055,1468751,114569,24597,6431
unique,3166,1440,5,423.0,228122,12095,18866,160448,60,60,49,38,28,1759301,1196,1290,182,74,53
top,01/21/2014,16:00,BROOKLYN,11207.0,"(0.0, 0.0)",BROADWAY,3 AVENUE,772 EDGEWATER ROAD,Driver Inattention/Distraction,Driver Inattention/Distraction,Other Vehicular,Other Vehicular,Other Vehicular,4194303,Sedan,PASSENGER VEHICLE,Sedan,Sedan,Sedan
freq,1161,25440,381973,15047.0,1280,17194,9843,402,337483,80712,2188,439,125,1,429277,318607,30530,7025,1899

In [10]:
crash.dropna(subset = ["con_vehicle_4" , "con_vehicle_5", "vehicle_type_4", "vehicle_type_5"])
crash.head(10)

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,03/06/2020,6:56,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,04/28/2020,17:35,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,03/18/2020,14:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,05/07/2020,22:14,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,03/06/2020,17:16,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
5,05/05/2020,12:30,QUEENS,11004,40.736750,-73.711040,"(40.73675, -73.71104)",HILLSIDE AVENUE,257 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4311977,Sedan,Pick-up Truck,NaN,NaN,NaN
6,05/10/2020,13:05,NaN,NaN,40.700836,-73.985940,"(40.700836, -73.98594)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312670,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
7,03/13/2020,9:55,QUEENS,11106,40.757330,-73.931360,"(40.75733, -73.93136)",29 STREET,36 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4300244,Taxi,NaN,NaN,NaN,NaN
8,03/03/2020,8:05,BRONX,10460,40.835342,-73.865080,"(40.835342, -73.86508)",WOOD AVENUE,THIERIOT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297288,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
9,04/03/2020,11:00,NaN,NaN,40.618240,-73.984080,"(40.61824, -73.98408)",62 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4307462,Box Truck,Box Truck,NaN,NaN,NaN

In [11]:
crash["date"] = pd.to_datetime(crash["date"])
crash.head()

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020-03-06,6:56,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020-04-28,17:35,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020-03-18,14:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,2020-05-07,22:14,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,2020-03-06,17:16,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [12]:
crash["date"] = crash["date"].dt.year

In [13]:
crash["time"] = pd.to_datetime(crash["time"])
crash.head()

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020,2021-04-13 06:56:00,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020,2021-04-13 17:35:00,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020,2021-04-13 14:00:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,2020,2021-04-13 22:14:00,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,2020,2021-04-13 17:16:00,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [14]:
crash

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020,2021-04-13 06:56:00,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020,2021-04-13 17:35:00,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020,2021-04-13 14:00:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,2020,2021-04-13 22:14:00,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,2020,2021-04-13 17:16:00,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
5,2020,2021-04-13 12:30:00,QUEENS,11004,40.736750,-73.711040,"(40.73675, -73.71104)",HILLSIDE AVENUE,257 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4311977,Sedan,Pick-up Truck,NaN,NaN,NaN
6,2020,2021-04-13 13:05:00,NaN,NaN,40.700836,-73.985940,"(40.700836, -73.98594)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312670,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
7,2020,2021-04-13 09:55:00,QUEENS,11106,40.757330,-73.931360,"(40.75733, -73.93136)",29 STREET,36 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4300244,Taxi,NaN,NaN,NaN,NaN
8,2020,2021-04-13 08:05:00,BRONX,10460,40.835342,-73.865080,"(40.835342, -73.86508)",WOOD AVENUE,THIERIOT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4297288,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
9,2020,2021-04-13 11:00:00,NaN,NaN,40.618240,-73.984080,"(40.61824, -73.98408)",62 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4307462,Box Truck,Box Truck,NaN,NaN,NaN
10,2020,2021-04-13 16:57:00,BRONX,10469,40.874336,-73.849075,"(40.874336, -73.849075)",NaN,NaN,3325 FISH AVENUE,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,NaN,NaN,NaN,NaN,4307215,Sedan,NaN,NaN,NaN,NaN
11,2020,2021-04-13 15:30:00,QUEENS,11432,40.703217,-73.802570,"(40.703217, -73.80257)",90 ROAD,153 STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4303549,Sedan,NaN,NaN,NaN,NaN
12,2020,2021-04-13 17:34:00,BROOKLYN,11208,40.665900,-73.869560,"(40.6659, -73.86956)",NaN,NaN,851 EUCLID AVENUE,0.0,0.0,0,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,4307268,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
13,2020,2021-04-13 12:39:00,NaN,NaN,40.717678,-74.005780,"(40.717678, -74.00578)",LEONARD STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4298606,Station Wagon/Sport Utility Vehicle,Refrigerated Van,NaN,NaN,NaN
14,2020,2021-04-13 10:00:00,NaN,NaN,40.852673,-73.919106,"(40.852673, -73.919106)",UNDERCLIFF AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,NaN,NaN,NaN,NaN,4300454,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,2020,2021-04-13 14:00:00,NaN,NaN,40.753990,-73.900310,"(40.75399, -73.90031)",NORTHERN BOULEVARD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,NaN,NaN,NaN,NaN,4307023,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
16,2020,2021-04-13 17:08:00,BRONX,10462,40.852375,-73.865820,"(40.852375, -73.86582)",BRADY AVENUE,HOLLAND AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4306197,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
17,2020,2021-04-13 20:27:00,NaN,NaN,40.885216,-73.879370,"(40.885216, -73.87937)",JEROME AVENUE,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4310829,Taxi,Motorcycle,NaN,NaN,NaN
18,2020,2021-04-13 18:20:00,BROOKLYN,11236,40.642868,-73.917656,"(40.642868, -73.917656)",NaN,NaN,412 EAST 83 STREET,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4302874,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
19,2020,2021-04-13 08:50:00,BRONX,10474,40.815647,-73.884865,"(40.815647, -73.884865)",NaN,NaN,732 LONGFELLOW AVENUE,1.0,0.0,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,4306517,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
20,2020,2021-04-13 10:00:00,QUEENS,11385,40.697433,-73.898605,"(40.697433, -73.898605)",SENECA AVENUE,DECATUR STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4302259,Pick-up Truck,NaN,NaN,NaN,NaN
21,2020,2021-04-13 15:40:00,BROOKLYN,11235,40.576084,-73.964980,"(40.576084, -73.96498)",NaN,NaN,3110 BRIGHTON 2 STREET,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4307727,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
22,2020,2021-04-13 19:30:00,QUEENS,11435,40.696644,-73.807410,"(40.696644, -73.80741)",97 AVENUE,LIVERPOOL STREET,NaN,2.0,0.0,0,0,0,0,2,0,Traffic Control Disregarded,NaN,NaN,NaN,NaN,4311543,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
23,2020,2021-04-13 17:40:00,NaN,NaN,40.829290,-73.916420,"(40.82929, -73.91642)",MORRIS AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Outside Car Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4311350,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
24,2020,2021-04-13 21:10:00,NaN,NaN,40.867928,-73.889070,"(40.867928, -73.88907)",BAINBRIDGE AVENUE,EAST 197 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inexperience,NaN,NaN,NaN,NaN,4297125,Sedan,Sedan,NaN,NaN,NaN
25,2020,2021-04-13 21:15:00,NaN,NaN,40.646160,-73.998474,"(40.64616, -73.998474)",8 AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Drugs (illegal),NaN,NaN,NaN,NaN,4307485,Station Wagon/Sport Utility Vehicle,Pick-up Truck,Sedan,NaN,NaN
26,2020,2021-04-13 20:27:00,QUEENS,11361,40.757725,-73.779274,"(40.757725, -73.779274)",NORTHERN BOULEVARD,204 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4307271,Sedan,Sedan,NaN,NaN,NaN
27,2020,2021-04-13 09:15:00,MANHATTAN,10001,40.747280,-73.987740,"(40.74728, -73.98774)",NaN,NaN,40 WEST 31 STREET,0.0,0.0,0,0,0,0,0,0,Oversized Vehicle,Passing Too Closely,NaN,NaN,NaN,4312211,Beverage Truck,Sedan,NaN,NaN,NaN
28,2020,2021-04-13 12:30:00,STATEN ISLAND,10301,40.630670,-74.104950,"(40.63067, -74.10495)",NaN,NaN,461 FOREST AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4300779,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
29,2020,2021-04-13 03:05:00,QUEENS,11428,40.726520,-73.734870,"(40.72652, -73.73487)",NaN,NaN,92-08 222 STREET,0.0,0.0,0,0,0,0,0,0,Turning Improperly,NaN,NaN,NaN,NaN,4310101,Tanker,Sedan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759271,2013,2021-04-13 18:35:00,MANHATTAN,10002,40.714209,-73.994842,"(40.7142086, -73.9948417)",MARKET STREET,DIVISION STREET,NaN,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,NaN,NaN,NaN,NaN,7866,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759272,2013,2021-04-13 12:05:00,BROOKLYN,11226,40.650530,-73.955825,"(40.6505297, -73.9558249)",CHURCH AVENUE,BEDFORD AVENUE,NaN,2.0,0.0,2,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,150456,PICK-UP TRUCK,NaN,NaN,NaN,NaN
1759273,2013,2021-04-13 16:30:00,QUEENS,11365,40.734536,-73.794221,"(40.7345364, -73.7942209)",175 STREET,67 AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,236311,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1759274,2013,2021-04-13 18:10:00,QUEENS,11358,40.760837,-73.802049,"(40.7608367, -73.8020486)",NORTHERN BOULEVARD,164 STREET,NaN,2.0,0.0,0,0,0,0,2,0,NaN,NaN,NaN,NaN,NaN,251387,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759275,2013,2021-04-13 17:08:00,MANHATTAN,10014,40.731300,-74.010460,"(40.7312998, -74.01046)",WEST STREET,MORTON STREET,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Lost Consciousness,NaN,NaN,NaN,11153,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
1759276,2013,2021-04-13 12:42:00,QUEENS,11385,40.700191,-73.905604,"(40.7001909, -73.9056044)",MYRTLE AVENUE,CORNELIA STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,217021,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759277,2013,2021-04-13 19:35:00,NaN,NaN,40.716137,-73.818485,"(40.7161366, -73.8184852)",NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Lost Consciousness,NaN,NaN,NaN,NaN,3034066,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1759278,2013,2021-04-13 09:50:00,NaN,NaN,NaN,NaN,NaN,JARDINE AVENUE,LEGGETT PLACE,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,NaN,NaN,NaN,NaN,290932,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1759279,2013,2021-04-13 18:24:00,BROOKLYN,11216,40.683240,-73.943891,"(40.6832396, -73.9438905)",HANCOCK STREET,TOMPKINS AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,181440,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1759280,2013,2021-04-13 10:00:00,STATEN ISLAND,10308,40.554999,-74.149195,"(40.5549993, -74.1491955)",DEWEY AVENUE,MILES AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,298945,PICK-UP TRUCK,UNKNOWN,NaN,NaN,NaN
1759281,2013,2021-04-13 10:10:00,MANHATTAN,10018,40.753554,-73.985043,"(40.7535538, -73.9850428)",WEST 40 STREET,6 AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,29709,TAXI,TAXI,NaN,NaN,NaN
1759282,2013,2021-04-13 09:50:00,NaN,NaN,NaN,NaN,NaN,HILLSIDE AVENUE,VAN WYCK EXPRESSWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,236318,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1759283,2013,2021-04-13 21:15:00,BROOKLYN,11234,40.623442,-73.929312,"(40.6234419, -73.9293118)",EAST 48 STREET,AVENUE L,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,128268,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759284,2013,2021-04-13 00:54:00,MANHATTAN,10119,40.760525,-73.979973,"(40.7605247, -73.9799732)",WEST 51 STREET,6 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,42058,TAXI,NaN,NaN,NaN,NaN
1759285,2013,2021-04-13 19:00:00,NaN,NaN,40.630581,-73.885900,"(40.6305808, -73.8859004)",NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2960237,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759286,2013,2021-04-13 18:27:00,MANHATTAN,10014,40.738395,-74.003861,"(40.7383954, -74.0038611)",8 AVENUE,WEST 4 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Fatigued/Drowsy,NaN,NaN,NaN,11160,PICK-UP TRUCK,TAXI,NaN,NaN,NaN
1759287,2013,2021-04-13 17:10:00,BROOKLYN,11232,40.644266,-73.996843,"(40.6442664, -73.9968434)",9 AVENUE,42 STREET,NaN,2.0,0.0,0,0,0,0,2,0,NaN,NaN,NaN,NaN,NaN,132999,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1759288,2013,2021-04-13 16:45:00,MANHATTAN,10027,40.812052,-73.953543,"(40.8120522, -73.9535429)",WEST 126 STREET,MORNINGSIDE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,63055,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1759289,2013,2021-04-13 14:49:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,3122730,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759290,2013,2021-04-13 06:15:00,MANHATTAN,10075,40.773642,-73.959856,"(40.773642, -73.9598555)",EAST 77 STREET,LEXINGTON AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,49389,PICK-UP TRUCK,NaN,NaN,NaN,NaN
1759291,2013,2021-04-13 10:35:00,STATEN ISLAND,10304,40.589345,-74.101494,"(40.5893449, -74.1014938)",RICHMOND ROAD,BUEL AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,298975,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1759292,2013,2021-04-13 20:30:00,QUEENS,11418,40.701391,-73.831521,"(40.7013909, -73.831521)",HILLSIDE AVENUE,LEFFERTS BOULEVARD,NaN,3.0,0.0,0,0,0,0,3,0,NaN,NaN,NaN,NaN,NaN,206708,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1759293,2013,2021-04-13 13:00:00,MANHATTAN,10022,40.760229,-73.961520,"(40.760229, -73.9615205)",1 AVENUE,EAST 60 STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,49387,OTHER,VAN,NaN,NaN,NaN
1759294,2013,2021-04-13 12:24:00,BROOKLYN,11215,40.660937,-73.983236,"(40.660937, -73.9832362)",8 AVENUE,WINDSOR PLACE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,158469,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759295,2013,2021-04-13 22:15:00,QUEENS,11428,40.721007,-73.751091,"(40.7210074, -73.7510905)",HOLLIS COURT BOULEVARD,90 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,224578,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1759296,2013,2021-04-13 08:45:00,QUEENS,11423,40.713282,-73.766049,"(40.7132821, -73.7660495)",JAMAICA AVENUE,195 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Other Vehicular,Other Vehicular,NaN,NaN,NaN,211290,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1759297,2013,2021-04-13 15:40:00,QUEENS,11693,40.587566,-73.811254,"(40.5875659, -73.8112535)",ROCKAWAY BEACH BOULEVARD,BEACH 86 STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,201793,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1759298,2013,2021-04-13 09:00:00,QUEENS,11375,40.720958,-73.846966,"(40.7209579, -73.8469661)",70 AVENUE,AUSTIN STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,266491,TAXI,VAN,VAN,NaN,NaN
1759299,2013,2021-04-13 19:41:00,MANHATTAN,10038,40.709523,-74.001666,"(40.7095234, -74.0016664)",PEARL STREET,DOVER STREET,NaN,0.0,0.0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,3301,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN
1759300,2013,2021-04-13 14:52:00,MANHATTAN,10065,40.760535,-73.958351,"(40.7605353, -73.9583509)",EAST 62 STREET,YORK AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Other Uninvolved Vehicle,NaN,NaN,NaN,NaN,49381,TAXI,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [15]:
crash.dtypes

date                            int64
time                   datetime64[ns]
borough                        object
zipcode                        object
latitude                      float64
longitude                     float64
location                       object
on_street                      object
cross_street                   object
off_street                     object
num_persons_injured           float64
num_persons_killed            float64
num_ped_injured                 int64
num_ped_killed                  int64
num_cyc_injured                 int64
num_cyc_killed                  int64
num_mot_injured                 int64
num_mot_killed                  int64
con_vehicle_1                  object
con_vehicle_2                  object
con_vehicle_3                  object
con_vehicle_4                  object
con_vehicle_5                  object
collision_id                   object
vehicle_type_1                 object
vehicle_type_2                 object
vehicle_type_3                 object
vehicle_type_4                 object
vehicle_type_5                 object
dtype: object

# Model 1: Linear Regression

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

dep= num_persons_killed ; ind= borough (q,m,bk,st), time(month)

In [16]:
filt = crash["date"] == 2020
crash2020 = crash[filt]
crash2020.head()

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020,2021-04-13 06:56:00,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020,2021-04-13 17:35:00,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020,2021-04-13 14:00:00,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,2020,2021-04-13 22:14:00,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,2020,2021-04-13 17:16:00,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [17]:
crash2020["time"] = crash2020["time"].dt.month
crash2020.head()

/usr/local/lib/python3.4/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,time,borough,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
0,2020,4,NaN,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2020,4,QUEENS,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2020,4,NaN,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,2020,4,NaN,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN
4,2020,4,NaN,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [28]:
#create dummy codes for borough
crash2 = pd.get_dummies(crash2020, columns = ["borough"], drop_first = True)
crash2.head()

,date,time,zipcode,latitude,longitude,location,on_street,cross_street,off_street,num_persons_injured,num_persons_killed,num_ped_injured,num_ped_killed,num_cyc_injured,num_cyc_killed,num_mot_injured,num_mot_killed,con_vehicle_1,con_vehicle_2,con_vehicle_3,con_vehicle_4,con_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5,borough_BROOKLYN,borough_MANHATTAN,borough_QUEENS,borough_STATEN ISLAND
0,2020,4,NaN,40.687004,-73.917690,"(40.687004, -73.91769)",BROADWAY,JEFFERSON AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Alcohol Involvement,NaN,NaN,NaN,NaN,4305304,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0,0,0,0
1,2020,4,11692,40.589134,-73.800980,"(40.589134, -73.80098)",ROCKAWAY BEACH BOULEVARD,BEACH 73 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4310784,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,0,0,1,0
2,2020,4,NaN,40.666260,-73.995960,"(40.66626, -73.99596)",GOWANUS EXPY (BQE),NaN,NaN,1.0,0.0,0,0,0,0,1,0,Brakes Defective,NaN,NaN,NaN,NaN,4302030,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,0,0,0,0
3,2020,4,NaN,40.787224,-73.954170,"(40.787224, -73.95417)",MADISON AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4312375,Station Wagon/Sport Utility Vehicle,Ambulance,NaN,NaN,NaN,0,0,0,0
4,2020,4,NaN,40.702007,-73.821205,"(40.702007, -73.821205)",131 STREET,JAMAICA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,4305442,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,0,0,0,0

In [32]:
crash2.dtypes

date                       int64
time                       int64
zipcode                   object
latitude                 float64
longitude                float64
location                  object
on_street                 object
cross_street              object
off_street                object
num_persons_injured      float64
num_persons_killed       float64
num_ped_injured            int64
num_ped_killed             int64
num_cyc_injured            int64
num_cyc_killed             int64
num_mot_injured            int64
num_mot_killed             int64
con_vehicle_1             object
con_vehicle_2             object
con_vehicle_3             object
con_vehicle_4             object
con_vehicle_5             object
collision_id              object
vehicle_type_1            object
vehicle_type_2            object
vehicle_type_3            object
vehicle_type_4            object
vehicle_type_5            object
borough_BROOKLYN           uint8
borough_MANHATTAN          uint8
borough_QUEENS             uint8
borough_STATEN ISLAND      uint8
dtype: object

In [30]:
crash2["time"] = crash2["time"].astype(int)

In [33]:
lm = smf.ols('num_persons_killed ~ time + borough_BROOKLYN + borough_MANHATTAN + borough_QUEENS + Q("borough_STATEN ISLAND") ', data = crash2).fit()
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     num_persons_killed   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9170
Date:                Tue, 13 Apr 2021   Prob (F-statistic):              0.469
Time:                        00:46:53   Log-Likelihood:             1.7308e+05
No. Observations:              112834   AIC:                        -3.461e+05
Df Residuals:                  112828   BIC:                        -3.461e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                   1.652e+07   3.25e+08      0.051      0.959    -6.2e+08    6.53e+08
time                       -4.131e+06   8.12e+07     -0.051      0.959   -1.63e+08    1.55e+08
borough_BROOKLYN              -0.0007      0.000     -1.737      0.082      -0.001    8.87e-05
borough_MANHATTAN             -0.0006      0.001     -1.139      0.255      -0.002       0.000
borough_QUEENS                -0.0004      0.000     -1.000      0.317      -0.001       0.000
Q("borough_STATEN ISLAND")     0.0007      0.001      0.637      0.524      -0.001       0.003
==============================================================================
Omnibus:                   276871.942   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       4108505503.877
Skew:                          26.293   Prob(JB):                         0.00
Kurtosis:                     936.339   Cond. No.                     8.91e+12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.43e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [63]:
lm2 = smf.ols('num_persons_killed ~ borough_BROOKLYN + borough_MANHATTAN + borough_QUEENS + Q("borough_STATEN ISLAND") ', data = crash2).fit()
lm2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     num_persons_killed   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.147
Date:                Tue, 13 Apr 2021   Prob (F-statistic):              0.332
Time:                        01:27:25   Log-Likelihood:             1.7308e+05
No. Observations:              112834   AIC:                        -3.461e+05
Df Residuals:                  112829   BIC:                        -3.461e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.0027      0.000     11.764      0.000       0.002       0.003
borough_BROOKLYN              -0.0007      0.000     -1.737      0.082      -0.001    8.87e-05
borough_MANHATTAN             -0.0006      0.001     -1.139      0.255      -0.002       0.000
borough_QUEENS                -0.0004      0.000     -1.000      0.317      -0.001       0.000
Q("borough_STATEN ISLAND")     0.0007      0.001      0.637      0.524      -0.001       0.003
==============================================================================
Omnibus:                   276871.942   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       4108505568.050
Skew:                          26.293   Prob(JB):                         0.00
Kurtosis:                     936.339   Cond. No.                         7.42
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [65]:
lm3 = smf.ols('num_persons_killed ~ num_persons_injured + borough_BROOKLYN + borough_MANHATTAN + borough_QUEENS + Q("borough_STATEN ISLAND") ', data = crash2).fit()
lm3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     num_persons_killed   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     5.107
Date:                Tue, 13 Apr 2021   Prob (F-statistic):           0.000110
Time:                        01:27:52   Log-Likelihood:             1.7309e+05
No. Observations:              112834   AIC:                        -3.462e+05
Df Residuals:                  112828   BIC:                        -3.461e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                      0.0022      0.000      9.241      0.000       0.002       0.003
num_persons_injured            0.0010      0.000      4.577      0.000       0.001       0.001
borough_BROOKLYN              -0.0006      0.000     -1.613      0.107      -0.001       0.000
borough_MANHATTAN             -0.0005      0.001     -0.960      0.337      -0.002       0.001
borough_QUEENS                -0.0004      0.000     -0.821      0.412      -0.001       0.000
Q("borough_STATEN ISLAND")     0.0007      0.001      0.673      0.501      -0.001       0.003
==============================================================================
Omnibus:                   276821.695   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       4102879180.597
Skew:                          26.281   Prob(JB):                         0.00
Kurtosis:                     935.699   Cond. No.                         8.25
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

why is this model so bad, r-squared = 0

In [42]:
x = crash2[['time',"borough_BROOKLYN", "borough_MANHATTAN", "borough_QUEENS", "borough_STATEN ISLAND"]]
x.head()

,time,borough_BROOKLYN,borough_MANHATTAN,borough_QUEENS,borough_STATEN ISLAND
0,4,0,0,0,0
1,4,0,0,1,0
2,4,0,0,0,0
3,4,0,0,0,0
4,4,0,0,0,0

In [43]:
y = crash2["num_persons_killed"]

In [46]:
linear_regressor = LinearRegression()

In [47]:
linear_regressor.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [48]:
y_pred = linear_regressor.predict(x)
y_pred

array([0.0026546 , 0.00222696, 0.0026546 , ..., 0.00222696, 0.00222696,
       0.0026546 ])

In [50]:
mse1 = mean_squared_error(y, y_pred)
mse1

0.002723921483661879

In [51]:
x2 = crash2[["borough_BROOKLYN", "borough_MANHATTAN", "borough_QUEENS", "borough_STATEN ISLAND"]]
x2.head()

   borough_BROOKLYN  borough_MANHATTAN  borough_QUEENS  borough_STATEN ISLAND
0                 0                  0               0                      0
1                 0                  0               1                      0
2                 0                  0               0                      0
3                 0                  0               0                      0
4                 0                  0               0                      0

In [52]:
linear_regressor = LinearRegression()

In [53]:
linear_regressor.fit(x2,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [57]:
y_pred2 = linear_regressor.predict(x2)
y_pred2

array([0.0026546 , 0.00222696, 0.0026546 , ..., 0.00222696, 0.00222696,
       0.0026546 ])

In [58]:
mse2 = mean_squared_error(y, y_pred2)
mse2

0.002723921483661879

In [56]:
x3 = crash2[['num_persons_injured',"borough_BROOKLYN", "borough_MANHATTAN", "borough_QUEENS", "borough_STATEN ISLAND"]]
x3.head()

,num_persons_injured,borough_BROOKLYN,borough_MANHATTAN,borough_QUEENS,borough_STATEN ISLAND
0,0.0,0,0,0,0
1,0.0,0,0,1,0
2,1.0,0,0,0,0
3,0.0,0,0,0,0
4,0.0,0,0,0,0

In [59]:
linear_regressor = LinearRegression()

In [60]:
linear_regressor.fit(x3,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [61]:
y_pred3 = linear_regressor.predict(x3)
y_pred3

array([0.00224392, 0.00189263, 0.00319423, ..., 0.00189263, 0.00189263,
       0.00319423])

In [62]:
mse3 = mean_squared_error(y, y_pred3)
mse3

0.0027234158418326278

there are no significant differences in mse's when time is taken out, time acts as an ind variable, and when I replace num_persons_injured with time. is it bc the coefficients are so low ?

Describe what prediction model and parameters you tried on your webpage, as well as how you evaluated the model/parameter combinations and the results of the evaluation (ex. pros and cons of this model/parameter combo).  Conclude with recommending which parameter to use with this model to get the best predictions for your data.

First, I conducted a multilinear regression to predict how the month the crash occurred in and what borough it occurred in impacted the number of people that died. I created dummy variables, variables with numerical value for the sake of conducting a regression, for the variable "borough".

Second, I conducted a multilinear regression similar to the first, however I excluded the variable time. 

Last, I conducted a mulitlinear regression where I replaced the variable "time" with "num_persons_injured".

For each regression, the r-squared value was exactly 0. R-squared is the proportion of the variance of the dependent (y) variable that can be explained by one or several independent (x) variables. . It essentially tells us how well a model fits data. In my case, each model was  poor fit for my data. However, I used another type of model to see if I would have better results.

# Model 2: K-nearest neighbor

In [66]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4)

In [78]:
knn = KNeighborsRegressor(n_neighbors = 3)
knn.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=3, p=2,
          weights='uniform')

In [79]:
y_test_pred = knn.predict(x_test)

In [81]:
knn_mse1 = mean_squared_error(y_test_pred, y_test)
knn_mse1

0.0025701245181016527

In [82]:
knn5 = KNeighborsRegressor(n_neighbors = 5)
knn5.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [83]:
y_test_pred5 = knn5.predict(x_test)

In [84]:
knn_mse2 = mean_squared_error(y_test_pred5, y_test)
knn_mse2

0.0025701245181016527

In [85]:
knn9 = KNeighborsRegressor(n_neighbors = 9)
knn9.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=9, p=2,
          weights='uniform')

In [86]:
y_test_pred9 = knn5.predict(x_test)

In [87]:
knn_mse3 = mean_squared_error(y_test_pred9, y_test)
knn_mse3

0.0025701245181016527

something is not right bc each mse is the same, so I can't say if the model overfits or underfits the data or which one is the best predictor.

Describe what prediction model and parameters you tried on your webpage, as well as how you evaluated the model/parameter combinations and the results of the evaluation (ex. pros and cons of this model/parameter combo). Conclude with recommending which parameter to use with this model to get the best predictions for your data.

I conducted three k-nearest neighbors regression models using the same independent and dependent variables as I did in my first linear regression model (x-borough and time; y-number of people killed).

First, I conducted a k-nearest neighbor regression where the number of neighbors was three.

Second, I conducted a k-nearest neighbor regression where the number of neighbors was five.

Last, I conducted a I conducted a k-nearest neighbor regression where the number of neighbors nine.

The Mean Squared Error for each model was exactly the same. Ideally, we like to for each on to have a different value for the mean squared error so that we can evaluate how well or poorly a model fits data. I will have to try to run these regressions again so that I can evaluate which model best fits my data. I predict that the model where the number of neighbors is five will be the best fit. Three may be too little and underfit my data, while nine may be too many and overfit my data.